body{
  
  background: linear-gradient( to right ,rgb(28, 153, 195), darkgrey, azure);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif, "consolas";
  font-size: x-large;  

}

.navbar{
color: rgb(31, 31, 55);
}

.bernoulli{
border: 10px solid;
width: 250px;
height: 250px;
}

.hello{
  background: linear-gradient( to right ,rgb(94, 84, 195), rgb(186, 148, 148), rgb(156, 212, 212));
  
}

.footercontent{

}

.details{
border-style: outset;
border-width: 5px;
border-color: blueviolet;
border-radius: 10px;
}

.projects{

}

.languages{

}